.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(192, 192, 192);
    border-radius: 2px;
}

.wrapper{
    padding: 20px;
}
.list{
    list-style: none;
}
.items{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.icon{
    margin-right: 15px;
}

.sidebarhr{
    margin: 20px 0;
}

.friendList{
    list-style: none;
}

.friend{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.profilepicture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.username{
    text-transform: capitalize;
}

