.profile {
  display: flex;
}

.profileright {
  flex: 9;
}

.profilebottom {
  display: flex;
}

.profilecover {
  height: 310px;
  position: relative;
}
.profileCoverImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  left: 0;
  object-fit: cover;
  margin: auto;
  top: 50%;
  border: 4px solid white;
}

.profileinfo {
  text-align: center;
}

.profileinfoname {
  font-size: 28px;
  text-transform: capitalize;
}

.profileinfodesc {
  font-size: 20px;
  font-weight: 300;
  color: grey;
}

.editdesc {
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.editdesc:hover {
  color: blue;
  outline: none;
}

.editarea {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.descinput {
  margin-bottom: 10px;
  height: 70px;
  font-size: 16px;
  padding: 0 3px;
}

.editbuttoncontainer {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.covr {
  width: 20%;
  margin: auto auto;
  display: none;
}

.editpage:hover > .covr {
  display: block;
}

.btn {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}

.save {
  background-color: #004bd6;
}

.profilepic {
  border-radius: 8px;
  color: #000;
  background-color: white;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  top: 80%;
  left: 55%;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cover {
  border-radius: 8px;
  color: #000;
  background-color: white;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  top: 70%;
  right: 10%;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  cursor: pointer;
}
