.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.message.own {
  align-items: flex-end;
}

.messageTop {
  display: flex;
  align-items: center;
}

.messageUserImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.messageText {
  font-size: 16px;
  padding: 10px;
  background-color: #1877f2;
  color: white;
  border-radius: 20px;
  max-width: 300px;
}

.message.own .messageText {
  background-color: #e2e2e2;
  color: black;
}

.messagebottom {
  font-size: 12px;
  color: gray;
}
