.post {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0px 16px -8px rgba(0, 0, 0, 0.68);
  background-color: #fff;
  margin: 30px 0;
}

.wrappers {
  display: block;
  padding: 8px;
}
.posttop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.profileimage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.username {
  text-transform: capitalize;
  margin-right: 10px;
}
.dayposted {
  font-size: 12px;
  color: grey;
}
.postcenter {
  width: 100%;
  display: block;
}

.posttext {
  font-size: 18px;
  margin-bottom: 10px;
}
.postimage {
  width: 100%;
  margin-top: 10px;
  max-height: 300px;
  object-fit: contain;
}
.postbuttom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.left {
  display: flex;
  align-items: center;
}
.likeicon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

.peoplethatlike {
  font-size: 15px;
}

.likeandcommentcount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  width: 100%;
}

.comments {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.line {
  margin-top: 10px;
}

.commenttop {
  display: block;
}

.commenttext {
  background-color: #ececec !important ;
  color: black !important;
}

.commentbottom {
  margin-top: 10px;
  width: 99%;
}

.commentinput {
  width: 95%;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  background-color: #ececec;
}
.commentinput:focus {
  outline: none;
}
