.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.loginwrapper{
    display: flex;
    align-items: center;
    width: 70vw;
}

.loginleft{
    flex: 1;
}

.appname{
   color: #1775ee;
   font-size: 50px;
   font-weight: 800;
}
.desc{
    font-size: 24px;
    font-weight: 400;
}

.loginright {
    flex: 1;
   
}

.registerinput{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px 0 ;
    border-radius: 10px;
}
.inputemail {
    width: 90%;
    padding: 12px 4px;
    margin: 10px;
    background-color: #fff;
    color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 18px;
}

.inputemail:focus{
   outline: none;
}

.loginbutton {
    width: 90%;
    color: #fff;
    background-color: #1775ee;
    border: none;
    outline: none;
    padding: 12px 4px;
    border-radius: 8px;
    margin: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.register {
   margin:auto auto ;
   padding: 12px 4px;
   width: 50%;
   color: #fff;
   background-color: #42b72a;
   border: none;
   outline: none;
   border-radius: 8px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
}