.rightbar {
  flex: 3.5;
}

.rightwrapper {
  padding: 20px 20px 0 0;
}

.title {
  font-size: 15px;
}

.list {
  list-style: none;
  margin-top: 10px;
}

.items {
  display: flex;
  margin-bottom: 10px;
}

.imageContainer {
  position: relative;
  margin-right: 10px;
}

.userimage {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.greenbagde {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  border: 2px solid white;
}

.username {
  font-size: 18px;
  font-weight: 500;
}

.rightbartitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.info {
  margin-bottom: 30px;
}

.infoitem {
  margin-bottom: 10px;
}

.infokey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.infovalue {
  font-weight: 300;
  text-transform: capitalize;
}

.following {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3px;
}

.followingdetail {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.followingdetailimg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.followingdetailname {
  text-transform: capitalize;
}

.rightBarfollowbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1872f2;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.rightBarfollowbutton:focus {
  outline: none;
}

.profilebuttons {
  display: flex;
  align-items: center;
}

.messagebutton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(230, 230, 230);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.popupedit {
  text-decoration: none;
  color: blue;
  margin-left: 90%;
  cursor: pointer;
}

.PopupEditInfo {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2400;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
}

.content {
  background-color: white;
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
}

.edittextinput {
  margin-top: 10%;
  padding: 10px 5px;
  font-size: 16px;
}

.submitbutton {
  background-color: blue;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  color: white;
}

.buttonstoedit {
  margin-left: 55%;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.cancelbutton {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}
